# ðŸ“Š Internship Task â€“ ETL Pipeline
This notebook automates the ETL process using Pandas and Scikit-learn.

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
import pandas as pd
df = pd.read_csv('your_data.csv')
df.head()

         Date  Amount   Category
0  2025-01-01  1200.0       Food
1  2025-01-02   800.0  Transport
2  2025-01-03     NaN   Shopping
3  2025-01-04  1500.0       Food

In [ ]:
df.fillna(method='ffill', inplace=True)
df['Category'] = df['Category'].astype('category').cat.codes

In [ ]:
df['Month'] = pd.to_datetime(df['Date']).dt.month
df['Expense_Type'] = df['Amount'].apply(lambda x: 'High' if x > 1000 else 'Low')
scaler = MinMaxScaler()
df[['Amount']] = scaler.fit_transform(df[['Amount']])
df.head()

In [ ]:
df.to_csv('processed_data.csv', index=False)
print("âœ… Data saved successfully!")